.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.contacts__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  background-color: lightblue;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
}

.contacts__name {
  font-weight: 600;
}

.contacts__number {
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.contacts__button {
  padding: 0.5rem 1rem;
  background-color: lightpink;
}

.contacts__button:hover {
  background-color: lightcoral;
  outline: 2px solid black;
  color: white;
  cursor: pointer;
}
